# Python
__pycache__/
*.pyc
.venv/

# Env
.env

# ML artifacts & uploads
app/ml/registry/
app/ml/datasets/uploads/

# DB volume
pgdata/

# Logs
*.log

# OS
.DS_Store
notes.txt
Thumbs.db

# Notes folder
notes/
